<header>
    <div class="header-start">
        <img src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/champion/MasterYi.png" 
            alt="Master Yi" height="52px" width="52px">  
    </div>
  
  <nav class="header-center">
    <a (click)="test()">Home</a>
    <a href="https://google.com" target="_blank">Champions</a>
    <a href="https://google.com" target="_blank">Items</a>
    <a href="https://google.com" target="_blank">Runes</a>
  </nav>
  
  <div class="header-end">
    <img src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/champion/MasterYi.png" 
        alt="Master Yi" height="52px" width="52px">
  </div>
</header>