<ng-container>
    <div class="header-start">
      <ng-icon color="rgb(235 31 31)" size="3rem" name="gameEnergyArrow" />
      <h1 class="header-title">First Strike</h1>
    </div>
  
    <nav class="header-center">
      <app-button href="matchups" variant="secondary">Matchups</app-button>
      <app-button href="calculator">Calculator</app-button>
      <app-blinking-indicator [isLive]="liveStatus()" />
    </nav>
  
    <div class="header-end">
      @if (isAuthenticated()) 
      {
        <app-button size="medium" variant="outline" (click)="logout()">
          Logout
        </app-button>
      } 
      @else 
      {
        <app-button size="medium" variant="primary" (click)="login()">
          Login with Twitch
        </app-button>
      }
    </div>
  </ng-container>